.main-part,
.main-part * {
  box-sizing: border-box;
}
.main-part {
  height: 1093px;
  position: relative;
  overflow: hidden;
}
.background {
  position: absolute;
  inset: 0;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.mask2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.object {
  width: 1448.15px;
  height: 1055px;
  position: static;
}
.bitmap {
  width: 100.57%;
  height: 96.52%;
  position: absolute;
  right: -0.28%;
  left: -0.28%;
  bottom: 9.52%;
  top: -6.04%;
  object-fit: cover;
}
.bitmap2 {
  background: radial-gradient(
      closest-side,
      rgba(41, 48, 61, 0) 0%,
      rgba(7, 22, 41, 1) 100%
    ),
    linear-gradient(to left, #000000, #000000);
  width: 100.57%;
  height: 96.52%;
  position: absolute;
  right: -0.28%;
  left: -0.28%;
  bottom: 9.52%;
  top: -6.04%;
}
.get-schooled {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 120px;
  font-weight: 700;
  position: absolute;
  right: 26.32%;
  left: 26.18%;
  width: 47.5%;
  top: calc(50% - 326.5px);
}
.smiles {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 55.21%;
  left: 41.18%;
  width: 3.61%;
  top: calc(50% - 185.5px);
}
.grin {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 48.61%;
  left: 48.89%;
  width: 2.5%;
  top: calc(50% - 185.5px);
}
.laugh {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 41.25%;
  left: 55.35%;
  width: 3.4%;
  top: calc(50% - 185.5px);
}
.button {
  width: 11.25%;
  height: 4.03%;
  position: absolute;
  right: 44.38%;
  left: 44.38%;
  bottom: 57.64%;
  top: 38.33%;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button-background {
  background: #c271ff;
  border-radius: 22px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.register-for-free {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 12.96%;
  left: 12.35%;
  width: 74.69%;
  top: 50%;
  translate: 0 -50%;
}
.learn-from-the-pros {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 39.93%;
  left: 41.94%;
  width: 18.12%;
  top: calc(50% - -84.5px);
}
.learn-from-the-pros-span {
  color: #c271ff;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-weight: 700;
}
.learn-from-the-pros-span2 {
  color: #ffffff;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-weight: 700;
}
.learn-from-the-pros-span3 {
  color: #ffffff;
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
}
.pros {
  position: absolute;
  inset: 0;
}
.pro-4 {
  width: 10.42%;
  height: 21.68%;
  position: absolute;
  right: 14.86%;
  left: 74.72%;
  bottom: 8.97%;
  top: 69.35%;
  overflow: hidden;
}
.henry-hughes {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -41.5px);
}
._24-h-smiles-winne {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Italic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -70.5px);
}
.avatar {
  width: 100%;
  height: 63.29%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 36.71%;
  top: 0%;
  overflow: visible;
}
.pro-3 {
  width: 10.42%;
  height: 21.68%;
  position: absolute;
  right: 34.93%;
  left: 54.65%;
  bottom: 8.97%;
  top: 69.35%;
  overflow: hidden;
}
.bruce-walters {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -41.5px);
}
.best-friend-smile {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Italic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -70.5px);
}
.avatar2 {
  width: 100%;
  height: 63.29%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 36.71%;
  top: 0%;
  overflow: visible;
}
.pro-2 {
  width: 10.42%;
  height: 21.68%;
  position: absolute;
  right: 54.44%;
  left: 35.14%;
  bottom: 8.97%;
  top: 69.35%;
  overflow: hidden;
}
.nannie-lawrence {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -41.5px);
}
.best-little-smile {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Italic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -70.5px);
}
.avatar3 {
  width: 100%;
  height: 63.29%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 36.71%;
  top: 0%;
  overflow: visible;
}
.pro-1 {
  width: 10.42%;
  height: 21.68%;
  position: absolute;
  right: 74.51%;
  left: 15.07%;
  bottom: 8.97%;
  top: 69.35%;
  overflow: hidden;
}
.phillip-massey {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -41.5px);
}
.smile-of-the-year {
  color: #ffffff;
  text-align: center;
  font-family: "SourceSansPro-Italic", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: calc(50% - -70.5px);
}
.avatar4 {
  width: 100%;
  height: 63.29%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 36.71%;
  top: 0%;
  overflow: visible;
}
